@charset "utf-8";

body {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-family: "Lato", "Noto Sans CJK JP", sans-serif;
    color: #F0EFE2;    
}

p,h1,h2,h3,h4,a {
    margin: 0;
    color: #30353a;
}

a {
    text-decoration: none;
}
